body {
    margin: 0px;
    background-color: #fff;
    font-family: 'Roboto';
}

.content_wrapper {
    background-color: #fff;
    width: 85%;
    padding: 20px;
    margin: auto;
    margin-top: 50px;
}

.cassette_wrapper {
    margin-bottom: 25px;
}

.cassette_title {
    background-color: #3399ff;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 20px;
}

.cassette_container {
    border: 1px solid #e6e6e6;
    border-top: none;
    padding: 15px;
}

.thread_preview_title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.thread_preview_stats {
    color: #4d4d4d;
}