body {
    margin: 0px;
    background-color: #fff;
    font-family: 'Roboto';
}

.content_wrapper {
    background-color: #fff;
    width: 85%;
    padding: 25px;
    margin: auto;
    margin-top: 50px;
}

.content_