body {
    margin: 0px;
    background-color: #1f4d7a;
    font-family: 'Roboto';
}

.login_wrapper {
    width: 450px;
    background-color: #fff;
    margin: auto;
    margin-top: 15%;
    text-align: center;
    box-shadow: 0px 0px 25px #153351;
}

.login_container {
    padding: 35px;
}

.login_title {
    font-size: 20px;
    background-color: #3399ff;
    padding: 20px;
    color: #fff;
}

.login_field {
    width: 350px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 17px;
    margin-top: 10px;
    color: #555;
    border: 1px solid #999;
    transition: border-color 0.5s;
}

.login_field:focus {
    border-color: #3399ff;
    transition: border-color 0.5s;
}

.login_field:focus, .login_button:focus {
    outline: 0;

}

.login_button {
    background-color: #3399ff;
    color: #fff;
    border: none;
    margin-top: 10px;
    width: 350px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 17px;
    transition: background-color 0.5s;
}

.login_button:hover {
    cursor: pointer;
    background-color: #1a8cff;
    transition: background-color 0.5s;
}