.navigation_menu_wrapper {
    background-color: rgba(51, 153, 255, 0.5);
    padding: 5px;
    text-align: center;
}

.navigation_menu_container {
    margin: auto;
    /*width: 700px;*/
    display: inline-block;
}

.navigation_menu_button {
    display: inline-block;
    vertical-align: middle;
    background-color: #1f4d7a;
    color: #fff;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 17px;
    transition: background-color 0.2s;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}

.navigation_menu_button > a {
    text-decoration: none;
    color: #fff;
}

.navigation_menu_button:hover {
    cursor: pointer;
    background-color: #1a8cff;
    transition: background-color 0.2s;
}